
header{
    margin-top: 0%;
    border-bottom: white 1px solid;
    position: fixed;
    width: 100%;
    background-color:gray;
}
h1 i:hover {
    color: gold;
    font-size: 40px;
    cursor: pointer;
}
h1 .far{
    color: white;
}
#logo,#home, #men, #women, #jewelry, #electronics{
    color: white;
    font-size: 100%;
    margin-left: 4%;
    width: 12%;
    height: 50px;
    display: inline-block;
    justify-content: flex-start;
}
#home:hover, #men:hover, #women:hover, #jewelry:hover, #electronics:hover{
    cursor: pointer;
    font-size: 30px;
}
.promo {
   display: flex;
   color: white;
   justify-content: center;
   padding-top: 10px;
   font-size: 20px;
}
#promo{
    background-color: gray;
    height: 40px;
}
#background-img{
    border: none;
    padding-top: 20%;
    background-image: url('15NYMEN-FASHION-2-superJumbo.jpeg');
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
}
#fresh{
    color:white;
    text-align: center;
    font-size: 100px;
    padding-top: 7%;
    margin-left:10%;
}
.products {
    color: white;
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5% 10%;
}
.pro-img{
    height: 300px;
    width: 300px;
    margin: 20px
}
.pro-title{
    color: black;
    font-weight: 700;
    line-height: normal;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 20px;
    padding-left: 10px;
    padding-top: 10px;
    width: 292px;
    height: 80px;
    text-align: center;
}
.pro-price{
    justify-content: center;
    display: flex;
    margin-top: -20px;
    padding-left: 120px;
    color: black;
}
.details{
    display: none;
    padding-left: 20px;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
}
.full-star{
    color: gold;
}
.far{
    color: gray;
}
.far:hover{
    color: gold;
    cursor: pointer;
}
#reviews{
    display: flex;
    margin-left: 20px;
    padding-top: 20px;
    color: black;
}
.view-more, .fav-product{
    width: 240px;
    height: 30px;
    font-size: 18px
}
.view-more{
    margin-left: 20px;
}
.fav-product{
    width: 62px;
    color: gray;
}
.view-more:hover, .fav-product:hover{
    cursor: pointer;
    font-size: 22px
}
.full-heart{
    color: red;
}
.pro-toggle-0{
    display: block;
    font-size: 17px;
    padding-left: 20px;
}
.pro-toggle-1{
    height: 800px;
    width: 70%;
}
.pro-toggle-2{
    height: auto;
    width: 45%; 
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px; 
}
.hidden{
    display: none;
}
.block{
    display: block;
}